
<section class="container">
           
    <div class="row">

      <div class="col-md-12">


<!-- new -->

<%= form_for [ @poll, @question ] do |f| %>

 <% if @question.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

    <ul>
    <% @question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<!-- New -->

<form>
  <fieldset class="form-group">
    <%= f.label :Question, for:"formGroupQuestion" %>
<%= f.text_field :title, class: "form-control", id: "formGroupQuestion", placeholder: "Enter your question" %>
  </fieldset>

  <div class="radio">
              <% @kind_options.each do |options| %>
              <label>
              <%= f.radio_button :kind, options[1], :checked => true %>
              <%= options[0] %>
              </label>
              <% end %>
            </div>

            <label>Add multiple choice options:</label>

  <div id="possible_answers">
    <%= f.fields_for :possible_answers do |possible_answer| %>
      <%= render 'possible_answer_fields', f: possible_answer %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Add Options', f, :possible_answers %>

    </div>
  </div>
<%= f.hidden_field :poll_id %>
            <div class="actions">
              <%= f.submit 'Save', class: "btn btn-primary" %>
            </div>
          <% end %>


 
</form>


    </div>

  </div>
  
</section>




