<section class="container" id="main">
	<div class="row" id="poll-index-height">
		<div class="col-md-12">
		<br/>

			

			<% if current_user %>

			<h2 class="steps">Step 3: Review your poll and share on Twitter</h2>
			<br/>

			<%= social_share_button_tag(@poll.title, :popup => "true") %>

			<% end %>
			<br/>

			<h1 class="poll_headings"> <%= @poll.title %> </h1>

			<br/>

			<%= form_for [ @poll, @reply ] do |f| %>
			<%= f.fields_for :answers do |c|  %>
			
			<%= render c.object.question.kind, c: c %>

			<% end %>
			<%= f.submit "Finish poll", class: "btn btn-primary" %>

			<% end %>

			

		</div>

    </div>

</section>


