<section class="container" id="main">
	<div class="row">
		<div class="col-md-12">

			<h1> <%= @poll.title %> </h1>

			<%= form_for [ @poll, @reply ] do |f| %>
			<%= f.fields_for :answers do |c|  %>
			<!-- <p><label><%= c.object.question.title %></label></p> -->
			<%= render c.object.question.kind, c: c %>

			<% end %>
			<%= f.submit "Finish poll", class: "btn btn-primary" %>

			<% end %>

			<%= social_share_button_tag(@poll.title, :popup => "true") %>

		</div>

    </div>

</section>


