<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Please enter the title of your poll" %><br>
    <%= f.text_field :title, class: "form-control input-lg", placeholder: "Example: My Christmas Survey" %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>


