<section class="container" id="main">
	<div class="row">
		<div class="col-md-12">
			<!-- <p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p> -->
			<br/>

			<h1><%= @poll.title %></h1> 	
			<!-- start twitter button -->



			<!-- end twitter button -->

<!-- start of tabs -->
	<div>

	<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
			<%= link_to "Questions", "#tab-questions", data: { toggle: "tab"} %></li>
			<li role="presentation">
			<%= link_to "View Replies", "#tab-replies", data: { toggle: "tab"} %></li>
		</ul>

	<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab-questions">


			<!-- new -->


			<% if @poll.questions.any? %>
  <dl>
  	<% @poll.questions.each do |question| %>
      <dt><%= question.title %> <%= link_to "Delete question", poll_question_path(@poll, question), method: :delete %></dt>
      
          <% question.possible_answers.each do |possible_answer| %>
            
              <dd><%= possible_answer.title %></dd>
          <% end %>
 
    <% end %>
  </dl>
<% else %>
  <p class="bg-info flash">You haven't added any questions yet, please <%= link_to 'add a question', new_poll_question_path(@poll)  %></p>
<% end %>






			<!-- end of new -->
			


				<p class="btn-group"> 
			
				<%= link_to 'Rename', edit_poll_path(@poll), class: "btn btn-default" %>
				<%= link_to 'All Polls', polls_path, class: "btn btn-default"  %>
				<%= link_to 'Add question', new_poll_question_path(@poll), class: "btn btn-default"  %>
				</p>

				<p><%= link_to 'View Poll and Share on Twitter', new_poll_reply_path(@poll), class: "btn btn-default share-button"  %></p>

<!-- 		<%= social_share_button_tag(@poll.title, :popup => "true") %>

		<%= social_share_button_tag(@poll.title, :popup => "true", :url => "new_poll_reply_path(@poll)") %> -->


			</div>
			<!-- end of questions tabs -->

			<!-- start of replies tab -->
			<div role="tabpanel" class="tab-pane" id="tab-replies">

			<% if @poll.replies.any? %>

			
				<% @poll.replies.each do |reply| %>
				<div>
					<div>
						<div>
							<dl>
							<% reply.answers.each do |answer| %>
							  <dt><%= answer.question.title %></dt>
							  <dd><%= answer.value.present? ? answer.value : answer.possible_answer.title %></dd>
							  <% end %>
							   <% end %>
							</dl>
						</div>

						<% else %>
						<p class="bg-info flash">You haven't added any replies yet, please <%= link_to 'reply to a question', new_poll_reply_path(@poll)  %></p>
						<% end %>
					</div>
				</div>

			</div>
			
		</div>

	</div>
<!-- end of tabs -->
			




				

			



			





		</div>
    </div>
</section>
        
