<section class="container">
    <div class="row">
		<div class="col-md-12">
			<p id="notice"><%= notice %></p>

			<h1><%= @poll.title %></h1>
			<h2>Questions</h2>

				<ul class="list-group">
					<% @poll.questions.each do |question| %>
					<li class="list-group-item"><%= question.title %>
						<ul class="list-group inner">
							<% question.possible_answers.each do |possible_answer| %>
							<li class="list-group-item"><%= possible_answer.title %></li>
							<% end %>
						</ul>
					</li>
					<% end %>
				</ul>

			



			<p class="btn-group"> 
			
			<%= link_to 'Edit', edit_poll_path(@poll), class: "btn btn-default" %>
			<%= link_to 'Back', polls_path, class: "btn btn-default"  %>
			<%= link_to 'Add question', new_poll_question_path(@poll), class: "btn btn-default"  %>
			</p>





		</div>
    </div>
</section>
        
