<!DOCTYPE html>
<html>
<head>
  <title>Rubyvote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- remove -->
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- remove -->
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'global/header' %>

	<%= yield :banner %>

	<%= render 'global/messages' %>

	<%= yield %>

	<%= render 'global/footer' %>

</body>
</html>
